@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clip-path {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 71% 100%, 20% 100%, 0 85%, 0 0);
  }
} 


.clip-path {
  clip-path: polygon(50% 0%, 100% 0, 82% 100%, 18% 100%, 0 0);
}


.react-calendar{
  width:100% !important;
}






/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
